/Asynchronous Client Socket Example/bin
/Asynchronous Client Socket Example/obj
/Asynchronous Server Socket Example/bin
/Asynchronous Server Socket Example/obj
/BWGenerator/bin/
/BWGenerator/obj/
/BWSitterGenerator/bin/
/BWSitterGenerator/obj/
/NetworkLayer/bin/
/NetworkLayer/obj/
/SharedContent/bin/
/SharedContent/obj/
/Tests/bin/
/Tests/obj/
/packages/
*.user
/.vs/